<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4B70B37D9AD4C0878E28739FED2834054A052AC8</string>
				<key>dateExpires</key>
				<string>19/07/2021</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4B70B37D9AD4C0878E28739FED2834054A052AC8</string>
						<key>dateExpires</key>
						<string>19/07/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D4MNRSAX2U</string>
						<key>name</key>
						<string>Itamar Medical Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4B70B37D9AD4C0878E28739FED2834054A052AC8</string>
						<key>dateExpires</key>
						<string>19/07/2021</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<false/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D4MNRSAX2U</string>
						<key>name</key>
						<string>Itamar Medical Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>D4MNRSAX2U.com.itamarmedical.watchpat.ios-prod</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>D4MNRSAX2U</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f757932d-9739-40b1-a3e2-c9b15b0e1999</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.itamarmedical.watchpat.ios-prod</string>
			</dict>
			<key>symbols</key>
			<false/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D4MNRSAX2U</string>
				<key>name</key>
				<string>Itamar Medical Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
